# {{ ansible_managed }}

user  {{  nginx_user }};
worker_processes  {{  nginx_worker_process_count }};

error_log  /var/log/nginx/error.log;
#error_log  /var/log/nginx/error.log  notice;
#error_log  /var/log/nginx/error.log  info;

pid        /run/nginx.pid;

events {
    worker_connections  {{  nginx_worker_connections }};
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    sendfile        {{ nginx_sendfile_enable|ternary("on","off") }};
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    index   index.html index.htm;


    # log formats definition
    {% for format in nginx_log_formats %}
    log_format {{ format.name }} {%- if format.escape is defined %} escape={{ format.escape }}{% endif %}
            {{ format.format|indent(16) }}
            ;
    {% endfor -%}

    # use common SSL config
    {{ nginx_default_ssl_config|indent(4) }}

    # Load modular configuration files from the /etc/nginx/conf.d directory.
    # See http://nginx.org/en/docs/ngx_core_module.html#include
    # for more information.

    include /etc/nginx/conf.d/*.conf;

    # Load ansible configured files
    {% for site in nginx_sites %}
    include {{ nginx_sites_dir }}/{{ site.name }}.conf ;
    {% endfor %}

    {% if nginx_log_formats %}
    access_log  /var/log/nginx/access.log  {{ nginx_log_formats[0].name }};
    {% endif %}

}
# {{ ansible_managed }}
