# {{ ansible_managed }}
server {
  listen                *:80 ;

  server_name           "";
  access_log            /var/log/nginx/access.log;

  location /.well-known {
        alias /var/www/.well-known;
  }

  location / {
    return 301 https://$host$request_uri;
  }

}